@tailwind base;
@tailwind components;
@tailwind utilities;
.base-template{
    @apply bg-reddit-grisi flex-auto -m-2 p-0;
  }
  .header-template{
    @apply bg-header-bg flex
    border-b-4 border-r-0 border-l-0 border-t-0 border-slate-100 border-solid border-spacing-1 mx-auto items-center justify-around
    font-sans h-16
  }
  .main-template{
    @apply bg-reddit-grisi font-sans flex-auto py-2 flex flex-auto
  }
  .main-gundem{
    @apply text-base font-medium text-reddit-fontcolor text-lg border-b-2 border-solid border-t-0 border-l-0 border-r-0 py-2 px-2 no-underline list-none
  }
  .main-aside-template{
    @apply border-r border-gray-600 w-60 border-solid border-b-0 border-l-0 border-t-0 p-4 flex-wrap px-2 
  }
  .main-content-template{
    @apply items-center justify-between mx-24 max-w-screen-lg my-3
  }
  .header-logo-template{
    @apply text-xl font-medium  no-underline text-eksi-yesili items-center flex
  }
  .header-logo-version-template{
    @apply text-xs font-light text-black font-mono text-end
  }
  .platform-switch{
    @apply bg-reddit-grisi rounded-full py-1 -mt-3
  }
  .header-login-template{
    @apply px-2 text-base font-medium no-underline text-eksi-yesili
  }
  .header-search-template{
    @apply  w-96 h-7 rounded-lg bg-koyu-reddit-grisi dark:placeholder-orange dark:placeholder:font-semibold
  }
  .buttons{
    @apply items-center h-8 font-bold text-sm text-ellipsis  text-green-500 rounded-xl
     hover:bg-green-500 border-none hover:text-white
      bg-header-bg focus:outline-none px-4 py-1 transition duration-300 ease-in-out hover:shadow-lg hover:shadow-green-500 mt-2
  }
  .auth-modal{
    @apply px-10 py-10
  }
  .navbar-contents{
    @apply items-center
  }
  
  .search-icon-button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  
  /*  props  */
  .better-links{
    @apply no-underline text-reddit-fontcolor
  }
  .better-htags{
    @apply px-2 text-4xl font-medium font-sans
  }
  .better-labels{
    @apply text-base font-medium font-sans font-normal text-sm
  }
  .better-inputs{
    @apply w-2/3 bg-gray-50 text-sm rounded-sm  block border-b-green-500 border-r-green-500 border-t-gray-200 border-l-gray-200 border-t border-l border-b border-r focus:ring-0
     text-reddit-fontcolor  mb-4 font-sans outline-none
  
  }
  .long-inputs {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .form-group{
    @apply pt-3
  }